.principal {
    height: 100vh;
    margin-left: 10px;
}

h2 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    width: 30%;
}

form > :nth-child(3) > textarea {
    width: 50%;
    height: 200px;
}

.enviar {
    width: 6%;
}

.cadastrados {
    width: 11%;
}
